@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans.regular.otf') format('opentype'),
       url('../fonts/work-sans.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans.light.otf') format('opentype'),
       url('../fonts/work-sans.light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans.medium.otf') format('opentype'),
       url('../fonts/work-sans.medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans.light-italic.otf') format('opentype'),
       url('../fonts/work-sans.light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Work Sans';
  font-weight: 300;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: 18px;
  background-color: #f7f4ef;
  color: #0d1321;
}

h1 {
  font-weight: 500;
}

h2, h3 {
  font-weight: normal;
}

h4 {
  font-weight: 300;
}

h5 {
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 768px) {
  .no-pad-left {
    padding-left: 0px;
  }
}

.text-italic {
  font-style: italic;
}

.affix {
  position: static;
}

@media (min-width: 768px) {
  .affix {
    position: fixed;
  }
}

.container {
  background: #ffffff;
}

.sidebar {
  height: 100%;
  background: #515151;
  color: #c4c4c4;
  padding: 15px 15px 25px;
  text-align: center;
  margin: 0 -15px;
}

@media (min-width: 768px) {
  .sidebar {
    width: calc(750px / 3);
    margin-left: -15px;
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    width: calc(970px * 0.25);
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: calc(1170px * 0.25);
  }
}

.sidebar img {
  border-radius: 49.9%;
  border: 2px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
  width: 80%;
  margin: 0 auto;
  max-width: 250px;
}

.content img.img-responsive {
  border: 2px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
  margin: 5px auto;
  width: 96%;
  max-width: 180px;
}

.sidebar h1 {
  color: #bcd8c1;
}

.sidebar h2 {
  color: #f7f4ef;
}

.content {
  padding-top: 5px;
}

@media (min-width: 768px) {
  .content {
    padding-top: 15px;
  }
}

.content h2 .glyphicon {
  font-size: 21px;
}

.content ul li ul {
  padding-bottom: 5px;
}

.content ul li:last-child ul {
  padding-bottom: 0px;
}

.content ul li ul li {
  font-style: italic;
}

.company {
  text-align: center;
}

@media (min-width: 768px) {
  .company {
    text-align: left;
  }
}

.content .company h3 {
  margin: 10px 0px;
}

.content .company h4 {
  margin-top: 20px;
}

.content .education {
  padding-bottom: 10px;
}

footer {
  background: #f7f4ef;
  margin: 0 -15px;
  padding: 15px;
}

footer hr {
  border-top: 1px solid #c4c4c4;
}

footer h2 {
  margin-top: 5px;
}

footer [class*=" devicon-"], footer [class^=devicon-] {
  font-size: 40px;
}

footer .progress {
  margin-top: 15px;
  margin-bottom: 27px;
  border-radius: 0px;
  height: 10px;
  background: #c4c4c4;
}

footer .progress-bar {
  background: #515151;
}
